@use '@angular/material' as mat;

// --------------------------------------------------
// Import font
// --------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

// --------------------------------------------------
// Custom style
// --------------------------------------------------

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  //color: #333333;
}

app-root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.wrapper {
  --margin: 16px;
  margin: var(--margin, 0px);
}

.mdc-text-field--filled {
  background-color: transparent !important;
}
.mat-mdc-form-field-focus-overlay {
  background-color: inherit !important;
}
.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
  padding-top: 22px !important;
  padding-bottom: 4px !important;
}
.mat-mdc-form-field-infix {
  min-height: unset !important;
}

// --------------------------------------------------
// Material theme
// --------------------------------------------------
$primary: mat.define-palette(mat.$indigo-palette, 500);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.core();

@include mat.all-component-themes($theme);

// --------------------------------------------------
// Import icons
// --------------------------------------------------
@import 'material-design-icons/iconfont/material-icons.css';
